<link rel="stylesheet" href="../../../assets/css/text-section-white.css">
<div class="host">
  <div id="headerHost"></div>
  <div class="host-content">

  <h3>L’hébergement insolite</h3>
  <div class="hostSegment">
    <div class="hebergementInsolite"></div>
  <p>L’hébergement insolite est une forme d’hébergement « hors du commun » par l’originalité de ses hébergements (cabanes, maisons champignons, tipis, tonneaux, bulles…) et/ou sa localisation (arbres, grottes,…). C’est un hébergement atypique qui apporte rêve et évasion aux vacanciers.<br><br>Les cabanes dans les arbres sont les pionnières de l’hébergement insolite dans l’hôtellerie de plein air. Elles sont apparues en 2005 et ont connu une croissance annuelle de 50% jusqu’en 2013. Après ces années de forte croissance, le marché arrive aujourd’hui quasi à maturité avec <strong>une croissance annuelle de 20%</strong>. La France reste le pays Européen phare en la matière avec l’Angleterre.
    </p>
  </div>
    <h3>Vous avez un bien insolite ?</h3>

    <p class="reasonsWhy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate. Optio, praesentium? Ut ducimus, obcaecati nemo cumque laudantium vitae eius placeat quis dolor commodi minus deleniti enim voluptatem dolore corporis!</p>

    <div class="hostButton">

        <a *ngIf="isConnected" [routerLink]="['/estate_form']">Je crée une annonce</a>
        <a *ngIf="!isConnected" [routerLink]="['/login']">Connectez-vous pour créer votre annonce</a>
    </div>
  </div>

</div>



