<link rel="stylesheet" href="../../../assets/css/text-section-white.css">
<div class="host">
  <p>L’hébergement insolite est une forme d’hébergement « hors du commun » par l’originalité de ses hébergements (cabanes, maisons champignons, tipis, tonneaux, bulles…) et/ou sa localisation (arbres, grottes,…). C’est un hébergement atypique qui apporte rêve et évasion aux vacanciers.

    Les cabanes dans les arbres sont les pionnières de l’hébergement insolite dans l’hôtellerie de plein air. Elles sont apparues en 2005 et ont connu une croissance annuelle de 50% jusqu’en 2013. Après ces années de forte croissance, le marché arrive aujourd’hui quasi à maturité avec une croissance annuelle de 20%. La France reste le pays Européen phare en la matière avec l’Angleterre.
    </p>
    <h3> marché de l’hébergement insolite en chiffres :</h3>

    <p> 160 Millions d’euros d’euros de chiffre d’affaires en 2015
    + de 1000 domaines au total
    5 hébergements insolites en moyenne par établissement
    + 20% d’acquisition de cabanes par les professionnels en 2015 contre une augmentation de 50% en 2013
    Un panier moyen de 130 € par séjour
    Prévision à 5 ans :

         ⇒ Une croissance du marché de 20% par an d’ici 5 ans avec un chiffre d’affaires prévisionnel annuel de 320 Millions d’euros d’ici 2020.

    Le secteur est composé de différents acteurs. On retrouve tout d’abord de très grands domaines spécialisés dans l’hébergement insolite qui proposent de nombreux types d’hébergements comme le Domaine des Ormes, Les Cabanes des Grands Lacs et Les Cabanes des Grands Chênes. Egalement, de plus petits domaines de type ferme pour qui l’activité procure un revenu additionnel. Et depuis quelques années, les campings traditionnels font de plus en plus l’acquisition d’hébergements insolites dans le cadre du renouvellement de leur offre.</p>
    <div class="text-section">
      <div class="text-section-content">
         <!--<img src="../../../assets/images/LOGO.svg" alt="">-->

          <a *ngIf="isConnected" [routerLink]="['/estate_form']">Je crée une annonce</a>
          <a *ngIf="!isConnected" [routerLink]="['/login']">Connectez-vous pour créer votre annonce</a>
      </div>

    </div>
</div>



