<nav>
  <ul>
    <li id="home"><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/booking']">Reserver</a></li>
    <li><a [routerLink]="['/new_hote']">Devenir Hote</a></li>
    <li><a [routerLink]="['/register']">Inscription</a></li>
    <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['/login']">Login</a></li>
    <li><a [routerLink]="['/help']">Aide</a></li>
    <li *ngIf="auth.isLoggedIn()"><a [routerLink]="['/profil']">Mon Profil</a></li>
    <li *ngIf="auth.isLoggedIn()"><button (click) = "logout()">Logout</button></li>
    <li *ngIf="user">Bienvenue {{ user.username }} !</li>

  </ul>
</nav>
