
<div class="footer">

  <div class="link">
      <nav>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
          </ul>

        </nav>
        <nav>
            <ul>
                <li><a href="">Contact</a></li>
                <li><a href="">Plan du site</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Regles</a></li>
                <li><a href="">Conditions/Politiques de Confidentialite</a></li>
              </ul>
        </nav>
  </div>
<div style="text-align: center;"><span>Copyright TechOnMe 2019</span></div>


</div>
