
.footer {
  position: absolute;
  bottom: 0;
}
.link {
  display: flex;
  flex-direction: row;

}
.footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer nav li {
  list-style: none;
  margin: 5px 20px;
}

