<section id="pageAdmin">
    <div class="container">
        <app-admin-nav></app-admin-nav>
        <div id="admin-content">
            <div id="admin-annonces">
                <h3 style="margin-top: 50px;">Annonces</h3>
                <div *ngFor="let estate of estates.items" class="adminAnnonce">

                    <div class="annonceThumbnail"><img src="../../../../assets/images/bg/BG-01.jpg" alt=""></div>
                    <p class="estateTitle">{{ estate.properties?.title}}</p>
                    <p class="estateCountry">{{ estate.properties.country}}</p>
                    <p class="estateCity">{{ estate.properties.city}}</p><input class="estateId" type="hidden"
                        [value]="estate.uuid">
                    <div class="estateOptions">
                        <div *ngIf="!getStar(estate.validation_state)" (click)="validateEstate(estate)" class="starEstate"></div>
                        <div *ngIf="getStar(estate.validation_state)" (click)="validateEstate(estate)" class="UnstarEstate"></div>
                        <div (click)="validateEstate(estate)" class="validateEstate"></div>
                        <div (click)="goDetails(estate)" class="seeEstate"></div>
                        <div (click)="deleteFrom(estate)" class="clearEstate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
