/** ANNONCES **/



#admin-content #admin-annonces {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#admin-content {
  position: relative;
}

#admin-annonces {
  filter: blur(0px);
  transition: filter ease 0.5s;
}

#admin-content #admin-annonces .adminAnnonce {
  margin: 5px auto;
  position: relative !important;
}

#admin-content #admin-annonces .adminAnnonce {
  border: 1px solid #ccc;
  padding:5px 20px ;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
#admin-content #admin-annonces .validatedAnnonce{
  background-color:lightseagreen !important;
  color:#fff;
}
#admin-content #admin-annonces .newAdminNotification {
  background-color: #007772;
  color: fff;
}

#admin-content #admin-annonces .adminAnnonce {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
  transition: box-shadow ease 0.5s;
  box-sizing: border-box;
}


#admin-content #admin-annonces .adminAnnonce:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow ease 0.5s;
}

#admin-content #admin-annonces .newAdminNotification:after {
  position: absolute;
  content: "!";
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
  background-color: red;
  top: 5px;
  margin-top: -12px;
  right: -10px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px #555;

}


#admin-content #admin-annonces .adminAnnonce .estateOptions {
  background-color: #fff;
  height: 45px;
  width: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 15px;
  margin: 0;

}

#admin-content #admin-annonces .adminAnnonce .estateOptions div {
  display: block;
  height: 30px;
  margin-left: 15px;
  width: 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
  transition: box-shadow ease 0.5s;
}

#admin-content #admin-annonces .adminAnnonce .estateOptions div:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  transition: box-shadow ease 0.5s;
}

#admin-content #admin-annonces .adminAnnonce .estateOptions div:first-child {
  background-color: lightseagreen;
}

#admin-content #admin-annonces .adminAnnonce .estateOptions div:nth-child(2) {
  background-color: orange;

}

#admin-content #admin-annonces .adminAnnonce .estateOptions div:last-child {
  background-color: orangered;
  margin-right: 15px;
}

#admin-content #admin-annonces .adminAnnonce .validateEstate {
  background-image: url(../../../../assets/adminIcons/tick.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#admin-content #admin-annonces .adminAnnonce .seeEstate {
  background-image: url(../../../../assets/adminIcons/display.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#admin-content #admin-annonces .adminAnnonce .clearEstate {
  background-image: url(../../../../assets/adminIcons/clear.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#admin-content #admin-annonces .adminAnnonce .annonceThumbnail {
  display: block;
  height: 45px;
  width: 45px;
  max-width:45px;
  background-color: #007772;
  position: relative;
  overflow: hidden;

}

#admin-content #admin-annonces .adminAnnonce .annonceThumbnail img {
  display: block;
  height: 50px;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#admin-content #admin-annonces .adminAnnonce .estateTitle {
  font-weight: 700;
  font-size: 16px;
  width:300px;
}

#admin-content #admin-annonces .adminAnnonce .estateCountry {
  font-weight: 500;
  font-size: 15px;
  width:200px;
}

#admin-content #admin-annonces .adminAnnonce .estateCity {
  font-weight: 300;
  font-size: 15px;
  width:200px;

}


@media only screen and (max-width: 1024px) {

  #admin-content #admin-annonces .adminAnnonce .annonceThumbnail {
      display: none;
  }

  #admin-content #admin-annonces .adminAnnonce .estateOptions a {
      margin: 0 10px 0 0;
  }

  #admin-content #admin-annonces .adminAnnonce .estateOptions a:last-child {
      margin: 0;
  }

  .admin-annonces-overlay {
      width: 80%;
      margin-left: -40%;
      top: 50%;
  }

  .admin-annonces-overlay .estateOptions {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 0;
  }

  .admin-annonces-overlay .estateOptions a {
      margin-top: 10px;
  }
}
