<section id="pageAdmin">

    <div class="container">
        <app-admin-nav></app-admin-nav>
        <div id="admin-content">
            <div id="admin-annonces">
                <h3>Annonces</h3>
                <div *ngFor="let item of estates.items; let i = index;" class="adminAnnonce">

                    <div class="annonceThumbnail">
                        <img src="../../../../assets/images/bg/BG-01.jpg" alt=""></div>

                    <p class="estateTitle">{{ item.properties?.title}}</p>
                    <p class="estateCountry">{{ item.properties.country}}</p>
                    <p class="estateCity">{{ item.properties.city}}</p>
                    <input class="estateId" type="hidden" [value]="item.uuid">
                    <div class="estateOptions">
                        <div (click)="validateEstate(i)" class="validateEstate" ></div>
                        <div class="seeEstate"></div>
                        <div [routerLink]="['/clearEstateForm']"  class="clearEstate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
