<header>

  <h1>

    <a href=""><img id="logo-Atypik" src="../../../assets/images/LOGO.svg" alt="AtypikHouse"
        title="Logo Atypik House"><img id="logo-Atypik-mobile" src="../../../assets/images/LOGO-Mobile.svg"
        alt="AtypikHouse" title="Logo Atypik House"></a>

  </h1>
  <nav  id="main-nav" style="background-color: #007470;">
    <a href="">Réserver</a>
    <!--
Non-connecté-->
      <a href="">Host</a>
    <ng-container *ngIf="!isConnected">
      <a [routerLink]="['/sign-up']" class="active-link">Sign-up</a>
      <a [routerLink]="['/login']">Login</a>
    </ng-container>
      <a href="">Aide</a>
    <!--Si connecté -->
  <div [hidden]="!isConnected" id="profile-item"></div>
  </nav>
  <div id="burger" class="burger"></div>

  <nav id="profile-links"  class="profile-links-hidden">
    <a href="">Profil</a>
    <a href="">Messagerie</a>
    <a href="">Mes Réservations</a>
    <a href="">Notifications</a>
    <!-- Aucune Annonce -->
    <a href="">Host</a>
    <!--Si Anoonce -->
    <!-- <a href="">Mes Annonces</a>-->
    <a href="">Recommander</a>
   <a><button (click)="logout()">Log-out</button></a>
  </nav>
</header>

<nav id="mobile-nav" class="mobile-nav-hidden"><img src="../../../assets/images/LOGO-Mobile-Burger.svg" alt="">
  <ul>
    <li><a href="">Réserver</a></li>
    <!--Non-connecté-->

    <ng-container *ngIf="!isConnected">
        <li><a href="">Host</a></li>
          <li><a [routerLink]="['/sign-up']" class="active-link">Sign-up</a></li>
            <li><a href="">Login</a></li>
    </ng-container>
    <!--connecté-->
    <ng-container *ngIf="isConnected">
      <li><a href="">Profil</a></li>
      <li><a href="">Messagerie</a></li>
      <li><a href="">Mes Réservations</a></li>
      <li><a href="">Notifications</a></li>
      <!-- Aucune Annonce -->
      <li><a href="">Host</a></li>
      <!--Si Anoonce -->
      <!-- <a href="">Mes Annonces</a>-->
      <li><a href="">Recommander</a></li>

      <li><a href="">Aide</a></li>
      <li><a href="">Log-out</a></li>
    </ng-container>
  </ul>
</nav>

