<header>

  <h1>

    <a href=""><img id="logo-Atypik" src="../../../assets/images/LOGO.svg" alt="AtypikHouse"
        title="Logo Atypik House"><img id="logo-Atypik-mobile" src="../../../assets/images/LOGO-Mobile.svg"
        alt="AtypikHouse" title="Logo Atypik House"></a>

  </h1>
  <nav  id="main-nav">
    <a [routerLink]="['/search']">Rechercher</a>
    <!--
Non-connecté-->
      <a [routerLink]="['/host']">Héberger</a>
    <ng-container *ngIf="!isConnected">
      <a [routerLink]="['/sign-up']" >Sign-up</a>
      <a [routerLink]="['/login']">Login</a>
    </ng-container>

    <!--Si connecté -->
  <div [hidden]="!isConnected" id="profile-item"></div>
  </nav>
  <div id="burger" class="burger"></div>

  <nav id="profile-links"  class="profile-links-hidden">
    <a [routerLink]="['/profil']">Profil</a>
    <a [routerLink]="['/messenger']">Messagerie</a>
    <a [routerLink]="['/reservations']">Mes Réservations</a>
    <a [routerLink]="['/notification']">Notifications</a>
    <!-- Aucune Annonce -->
    <a [routerLink]="['/host']">Héberger</a>
    <!--Si Anoonce -->
    <!-- <a href="">Mes Annonces</a>-->
   <a><button (click)="logout()">Log-out</button></a>
  </nav>
</header>

<nav id="mobile-nav" class="mobile-nav-hidden"><img src="../../../assets/images/LOGO-Mobile-Burger.svg" alt="">
  <ul>
    <!--Non-connecté-->

    <ng-container *ngIf="!isConnected">
        <li><a [routerLink]="['/host']">Héberger</a>
        </li>
          <li><a [routerLink]="['/sign-up']" class="active-link">Sign-up</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
    </ng-container>
    <!--connecté-->
    <ng-container *ngIf="isConnected">
      <li><a [routerLink]="['/profil']">Profil</a></li>
      <li><a  [routerLink]="['/messenger']">Messagerie</a></li>
      <li><a [routerLink]="['/reservations']">Mes Réservations</a></li>
      <li><a [routerLink]="['/notification']">Notifications</a></li>
      <!-- Aucune Annonce -->
      <li><a [routerLink]="['/host']">Héberger</a>
      </li>
      <!--Si Anoonce -->
      <!-- <a href="">Mes Annonces</a>-->

      <li><a [routerLink]="['/search']">Rechercher</a></li>
      <li><a href="">Log-out</a></li>
    </ng-container>
  </ul>
</nav>

