<section>
  <h3>Trouvez votre AtypikHouse</h3>
<input class="searchAtypikHouse" [(ngModel)]="searchText" placeholder="Dans quelle Ville souhaitez-vous trouver votre AtypikHouse ?">
<!-- <ul>
  <li *ngFor="let c of estates?.items | filter : searchText">
    {{c.properties.city}}
  </li>
</ul> -->
<h4>Nos derniers Listings</h4>
<div class="ResultList">
<div *ngFor="let c of estates?.items | filter : searchText" >
    <div  class="Result-item">
    <a (click)="goDetails(item)">
      <img src="../../../assets/images/bg/BG-01.jpg" alt="">
    </a>
      <div class="Result-item-label"><p>{{c.properties?.city}}</p>
        <p><strong>{{ c.properties.city}},</strong> {{ c.properties.country}}</p>
      <a href="" class="ctaResult">J&rsquo;y vais ></a>
      </div>
    </div>
  </div>
</div>
<!--

<section>
        <h3>Nos recommandations</h3>
        <div class="line-slider">
            <div class="line-slider-container">
                <div *ngIf="!pagination.changingPage" class="line-slides-container">
                  <div *ngFor="let c of estates?.items | filter : searchText" class="line-slides-page">
                    <div  class="line-slide-item"> <a (click)="goDetails(item)"><img src="../../../assets/images/bg/BG-01.jpg" alt=""></a>
                      <div class="line-slide-label"><p>{{c.properties?.city}}</p><p><strong>{{ c.properties.city}},</strong> {{ c.properties.country}}</p></div>
                    </div>
                  </div>
                </div>
                <p *ngIf="pagination.page > 1" class="line-slider-prev" (click)="changeCurrentPage(pagination.page-1)">&lt;</p>
                <p *ngIf="pagination.page > pagination.nb_pages"  class="line-slider-next" (click)="changeCurrentPage(pagination.page+1)">&gt;</p>
            </div>
        </div>
    </section> -->
  </section>
