section{
    width:100%;
    min-height:100vh;
    box-sizing: border-box;
    padding-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
}
h4{
  font-family: 'Roboto',sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin:30px 0 0;
  background-color:#007792;
  color:#fff;
  box-sizing: border-box;
  padding:10px 30px;
}
.searchAtypikHouse{
  display:block;
  width:80%;
  height:40px;
  text-align: center;
  font-size: 25px;
}
.ResultList{
  margin-top:20px;
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ResultList .Result-item{
width:300px;
background-color:#007792;
margin: 10px;
height:auto;
color:#fff;
cursor: pointer;

}
.ResultList .Result-item a:first-child {
  display:block;
  overflow: hidden;
  background-color:lavender;
  height:200px;
  width:100%;

 }
.ResultList .Result-item a img{
 height:auto;
 width:100%;

}

.ResultList .Result-item-label{
  box-sizing: border-box;
  padding:10px;
}
.ResultList .Result-item-label{
  box-sizing: border-box;
  padding:10px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ResultList .Result-item-label p:first-child{
  font-weight: 900;
  font-size: 22px;
}

.ResultList .ctaResult{
  padding:2px 15px;
  border-radius: 5px;
  background-color:#fff;
  color:orangered;
  text-decoration: none;
  text-align: center;
  width:auto;
  margin-top:20px;
}

.ResultList .ctaResult:hover{
  background-color:orangered;
  color:#fff;
}

