<input [(ngModel)]="searchText" placeholder="search text goes here">
<ul>
  <li *ngFor="let c of estates?.items | filter : searchText">
    {{c.properties.city}}
  </li>
</ul>

<section>
        <h3>Nos recommandations</h3>
        <div class="line-slider">
            <div class="line-slider-container">
                
                  <div *ngFor="let c of estates?.items | filter : searchText" class="line-slides-page">
                    <div  class="line-slide-item"> <a (click)="goDetails(item)"><img src="../../../assets/images/bg/BG-01.jpg" alt=""></a>
                      <div class="line-slide-label"><p>{{c.properties?.city}}</p><p><strong>{{ c.properties.city}},</strong> {{ c.properties.country}}</p></div>
                    </div>
                  </div>
               
            </div>
        </div>
    </section>
