<section>
<div id="faqAH">
  <h3>Questions fréquentes</h3>
  <p>Unt excepernam ut laborpo rumque aut inctio. Itatemp oreptatus aut dolupturem fugit expliquo et, con pa cum ex estrum aut esto velibus, et res everibus, sam quam commolutatis eic to ili.ê</p>
  <div id="questions">
      <div class="question-answer">
        <p class="questionAH">Qu’est-ce qu’AtypikHouse et comment cela fonctionne ?</p>
        <p class="answerAH">Imposable ou non imposable, depuis peu, le crédit d’impôt de 50% s’applique à tous sur les heures de cours commandées.</p>
      </div>
      <div class="question-answer">
          <p class="questionAH">Que sont les conditions d'annulation d'AtypikHouse ?</p>
          <p class="answerAH">Imposable ou non imposable, depuis peu, le crédit d’impôt de 50% s’applique à tous sur les heures de cours commandées.</p>
        </div>
        <div class="question-answer">
            <p class="questionAH">Comment réinitialiser mon mot de passe ?</p>
            <p class="answerAH">Imposable ou non imposable, depuis peu, le crédit d’impôt de 50% s’applique à tous sur les heures de cours commandées.</p>
        </div>
        <div class="question-answer">
          <p class="questionAH">Comment créer mon compte ?</p>
          <p class="answerAH">Imposable ou non imposable, depuis peu, le crédit d’impôt de 50% s’applique à tous sur les heures de cours commandées.</p>
      </div>
      <div class="question-answer">
        <p class="questionAH">Comment effectuer une réservation sur AtypikHouse ?</p>
        <p class="answerAH">Lorsque vous réservez un logement sur AtypikHouse, vous prenez des dispositions pour séjourner au domicile de quelqu'un. Chaque hôte a son propre style d'hospitalité, à commencer par la façon dont il aime faire connaissance avec ses voyageurs. Certains hôtes veulent valider les demandes de réservation, là où d'autres se sentent à l'aise en vous laissant faire une réservation instantanée de leur logement sans que vous ayez à attendre leur approbation.<br><br>

          <strong>1. Renseignez votre profil</strong><br><br>

          Dans un cas comme dans l'autre, il est important de savoir qu'AtypikHouse est une communauté qui repose sur la confiance. Renseignez votre profil avant de faire une demande de réservation à un hôte, pour qu'il puisse en savoir un peu plus sur vous au moment de confirmer. Votre profil doit comprendre des photos et des vérifications, en particulier parce que certains hôtes tiennent à ce que les voyageurs aient une photo de profil ou une identification vérifiée pour réserver.<br><br>
          <strong>2. Trouvez le bon endroit</strong><br><br>

          Avec plus de 800 000 logements uniques de par le monde, vous voudrez vous assurer que l'endroit que vous avez choisi présente bien tout ce dont vous avez besoin pour un séjour confortable et mémorable.<br><br>

          Lorsque vous recherchez un logement, veillez à choisir vos dates de voyage ainsi que le nombre total de voyageurs pour obtenir le tarif le plus précis possible. Lisez systématiquement les commentaires, la description ainsi que le règlement intérieur et passez en revue les équipements pour voir si logement correspondant à vos attentes. Vous pouvez toujours contacter l'hôte pour lui poser toute question sur son logement.<br><br>
          <strong>3. Réservez !</strong><br><br>

          Vous avez trouvé le lieu idéal et il est temps désormais d'officialiser votre voyage. La manière de confirmer votre réservation dépendra de l'option choisie par votre hôte.<br><br>

         </p>
    </div>
  </div>
</div>
</section>
