<footer>
  <img src="../../../assets/images/LOGO-Transparent.svg" alt="" id="logo-footer">
  <nav id="socialmedia" style="background-color: #1C233F;">
    <a href="https://twitter.com/atypikhouse" alt="Suivez-nous sur Twitter !" title="Compte Twitter" target="_blank"></a>
    <a href="https://www.facebook.com/atypikhouse" alt="Suivez-nous sur Facebook !" title="Compte Facebook" target="_blank"></a>
    <a href="https://www.instagram.com/atypikhouse/" alt="Suivez-nous sur Instagram !" title="Compte Instagram" target="_blank"></a>
  </nav>
  <nav id="footer-links" style="background-color: #1C233F;">
    <a [routerLink]="['/contact']">Contact</a>
    <a [routerLink]="['/sitemap']">Plan du site</a> 
    <a [routerLink]="['/faq']">FAQ</a>
    <!-- <a [routerLink]="['/conditions']">Règles</a> -->
    <a [routerLink]="['/conditions-privacy']">Conditions/Politique de confidentialité</a>
  </nav>
</footer>
