<div class="row">
  <form class="col" #form="ngForm" (ngSubmit)="login(form.value)">
      <div class="row">
          <div class="input-field col s4">
              <input placeholder="Login" name="logint" id="logint" type="text" [(ngModel)]="logint">
          </div>
          <div class="input-field col s4">
              <input placeholder="Password" name="password"  id="password" type="password" [(ngModel)]="password">
          </div>
      </div>
      <div class="row">
          <button class="waves-effect waves-light btn" id="btn" type="submit">Login</button>
      </div>
  </form>
</div>
