.text-section{
  height:auto;
  width:100%;
  background-color:#E8A720;
}
.text-section-content{
  width:100%;
  height:auto;
  font-family: 'Roboto',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding:20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color:#000;
}
.text-section p,.text-section h3{
  margin:20px auto;
}
.text-section p{
  font-size: 16px;
  max-width: 800px;
  text-align: justify;
}
.text-section h3{
  font-family: 'Pacifico',serif;
  font-size: 35px;
  position: relative;
}
.text-section h3:after{
  content: "";
  position: absolute;
  width:150px;
  height:2px;
  background-color:#007270;
  left:50%;
  bottom:-5px;
  margin-left: -75px;
}
.text-section a{
  display: block;
  padding:10px 20px;
  text-decoration: none;
  color:#000;
  border:1px solid #000;
  border-radius: 5px;
  background-color:rgba(255,255,255,1);

}
.text-section a:hover{
  background-color:rgba(255,255,255,0);
  color:#000;
}
