<section id="loginSection">

  <div class="container">

      <div class="container-title">
          <h2>Connexion Admin</h2>
      </div>
      <form action="" id="loginForm">
          <label for="email"><b>Email</b></label>
          <input type="text" id="email" placeholder="ex : saitama@heroassociation.gov" name="email" [(ngModel)]="credentials.login" required>

          <label for="psw"><b>Mot de passe</b></label>
          <input type="password" placeholder="Enter Password" id="psw" name="psw" [(ngModel)]="credentials.password" required>

          <button type="submit" (click)="login()">Connexion</button>
          <label>
              <input type="checkbox" checked="checked" name="remember">
          </label>
      </form>
  </div>



</section>
