<section class="profileModel">
<aside>
  <ul>
    <li><a [routerLink]="['/profil']" class="activeProfileLink">Profil</a></li>
    <li><a [routerLink]="['/messenger']">Messagerie</a></li>
    <li><a [routerLink]="['/reservations']">Mes Réservations</a></li>
    <li><a href="">Notifications</a></li>
    <li><a href="">Recommander</a></li>
    <li><a href="">Aide</a></li>
  </ul>
</aside>
<div class="profileContent">
<div class="profilecontainer">
  <div class="profileInfo">
      <div class="profileIcon"></div>
      <div class="profiledate">Membre depuis le {{user.register_date | date: 'dd/MM/yy'}}</div>
      <a href="" (click)="editUserClick()" class="modifierForm">Modifier Mes informations</a>
  </div>
  <form action="" class="profileForm">
      <label for="username" class="requiredInfo"><b>Identifiant</b></label>
      <input type="text" id="username" placeholder="ex : toto28" name="username"  [(ngModel)]="user.username" required >


      <label for="email" class="requiredInfo"><b>E-mail</b></label>
      <input type="text" id="email" placeholder="ex : saitama@heroassociation.gov" name="email" [(ngModel)]="user.email" required>
    <div *ngIf="editUser" class="profileForm">
        <label for="psw"><b>Nouveau mot de passe</b></label>
        <input type="password" placeholder="Enter Password" id="first" name="first" [(ngModel)]="newUser.newPassword.first" required><br/>
        <label for="psw"><b>Resaisir le mot de passe</b></label>
        <input type="password" placeholder="Enter Password" id="second" name="second" [(ngModel)]="newUser.newPassword.second" required><br/>
        <label for="psw" class="requiredInfo"><b>Mot de passe actuel</b></label>
        <input type="password" placeholder="Enter Password" id="plainPassword" name="plainPassword" [(ngModel)]="newUser.plainPassword" required>

    </div>
      
      <button type="submit" disabled (click)="PatchUser()">Modifier</button>
  </form>
</div>
</div>

</section>
