<section id="pageAdmin">
    <aside>
        <ul>
            <li><a [routerLink]="['/profil']"  alt="Profil" title="Profil">Profil</a></li>
            <li><a [routerLink]="['/messenger']"  alt="Messagerie" title="Messagerie">Messagerie</a></li>
            <li><a [routerLink]="['/reservations']"  alt="Mes Réservations" title="Mes Réservations">Mes Réservations</a></li>
            <li><a [routerLink]="['/notification']"  class="activeProfileLink"  alt="Notifications" title="Notifications">Notifications</a></li>
            <li><a [routerLink]="['/annonces']"  alt="Mes annonces" title="Mes annonces">Mes annonces</a></li>

        </ul>
    </aside>
    <div class="notificationContent">

        <div class="notificationcontainer">

            <div class="container">

                <div id="notif-content">

                    <div id="admin-notifications">
                        <h3 style="margin-top: 50px;">Notifications</h3>
                        <p class="adminNotification newAdminNotification">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a,
                            earum ab itaque vel pariatur inventore, nulla voluptatum dolores nisi sapiente.Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Quisquam, enim quas culpa modi magni rerum
                            voluptatibus nesciunt. Ipsam a, earum ab itaque vel pariatur inventore, nulla voluptatum
                            dolores nisi sapiente.</p>
                        <p class="admin-notification">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a, earum ab itaque
                            vel pariatur inventore, nulla voluptatum dolores nisi sapiente.</p>
                        <p class="admin-notification">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a, earum ab itaque
                            vel pariatur inventore, nulla voluptatum dolores nisi sapiente.</p>
                        <p class="admin-notification">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a, earum ab itaque
                            vel pariatur inventore, nulla voluptatum dolores nisi sapiente.</p>
                        <p class="admin-notification">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a, earum ab itaque
                            vel pariatur inventore, nulla voluptatum dolores nisi sapiente.</p>
                        <p class="admin-notification">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a, earum ab itaque
                            vel pariatur inventore, nulla voluptatum dolores nisi sapiente.</p>
                        <p class="admin-notification">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, enim quas culpa modi magni rerum voluptatibus nesciunt. Ipsam a, earum ab itaque
                            vel pariatur inventore, nulla voluptatum dolores nisi sapiente.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>



</section>
