<nav id="admin-nav">
  <ul>
      <li><a [routerLink]="['/crm']" class="active-admin-nav" alt="Notifications" title="Mes Notifications">Notifications</a></li>
      <li><a [routerLink]="['/admin-annonces']" alt="Liste d'Annonces " title="Annonces">Annonces</a></li>
      <li><a [routerLink]="['/avis']" alt="Les Avis" title="Avis de locataires">Avis</a></li>
      <li><a [routerLink]="['/categories']" alt="Catégories" title="Catégories" >Catégories</a></li>
      <li><a href="" alt="Ajouter des paramaètres" title="Paramètres">Paramètres</a></li>
      <li><a href="" alt="Gestion de Comptes" title="Comptes">Comptes</a></li>
  </ul>

</nav>
