

 #admin-nav {
  height: 100%;
  background-color: #007772;
  width: 300px;
  position: relative;
  max-height: 100vh;
}

 #admin-nav ul {
  list-style: none;
  height: 100%;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  position:absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


 #admin-nav ul li {
  display: block;
  width: 70%;
  text-align: center;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


 #admin-nav ul li a{
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color ease 1s;
  -o-transition: background-color ease 1s;
  transition: background-color ease 1s;
  -webkit-transition: color ease 0.5s;
  -o-transition: color ease 0.5s;
  transition: color ease 0.5s;

}


#admin-nav ul li a:hover,#pageAdmin #admin-nav ul li .active-admin-nav {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: #007772;
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: background-color ease 1s;
  -o-transition: background-color ease 1s;
  transition: background-color ease 1s;
  -webkit-transition: color ease 0.5s;
  -o-transition: color ease 0.5s;
  transition: color ease 0.5s;


}






@media only screen and (max-width: 1024px) {

   .container{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
#admin-content{
      width:auto;
      height:auto;
      padding:10px;
      -webkit-box-sizing: 20px;
              box-sizing: 20px;
  }
   #admin-nav{
      width:auto;
      height:auto;
      padding:10px;
      -webkit-box-sizing: 20px;
              box-sizing: 20px;
  }
   #admin-nav ul{
      width:100%;
      height:auto;

      min-width: none;
      max-width: none;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;

  }
   #admin-nav li{
      width:auto;
      margin: 10px;
      -webkit-box-flex: 0;
          -ms-flex: 0 25%;
              flex: 0 25%;


  }

}






