<div>
  <form>
    <div class="row">
      <div class="input-field col s6">
        <input name="title" id="title" type="text" class="validate" [(ngModel)]="estate.title">
        <label class="active" for="title">Titre</label>
      </div>
      <div class="input-field col s6">
        <mat-form-field>
          <label>Categories</label>
          <mat-select name="estate_category" id="estate_category" [(ngModel)]="estate.estate_category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea name="description" id="description" type="text" class="validate"
          [(ngModel)]="estate.description"></textarea>
        <label class="active" for="description">Descriotion</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input name="surface" id="surface" type="number" class="validate" [(ngModel)]="estate.surface">
        <label class="active" for="surface">Surface</label>
      </div>
      <div class="input-field col s3">
        <input name="rooms" id="rooms" type="number" class="validate" [(ngModel)]="estate.rooms">
        <label class="active" for="rooms">Nombre de pieces</label>
      </div>
      <div class="input-field col s3">
        <input name="price" id="price" type="number" class="validate" [(ngModel)]="estate.price">
        <label class="active" for="price">Prix</label>
      </div>
    </div>
    <div class="row">
      <mat-form-field>
        <label>Options</label>
        <mat-select multiple name="utilities" id="utilities" [(ngModel)]="estate.utilities">

          <mat-option *ngFor="let utility of utilities" [value]="utility">
            {{ utility }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="beds" id="beds" type="number" class="validate" [(ngModel)]="estate.beds">
        <label class="active" for="beds">Lits</label>
      </div>
      <div class="input-field col s6">
        <input name="bath_room" id="bath_room" type="number" class="validate" [(ngModel)]="estate.bath_room">
        <label class="active" for="bath_rooms">Toilettes</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <mat-form-field>
          <label>Environnement</label>
          <mat-select multiple name="environment" id="environment" [(ngModel)]="estate.environment">

            <mat-option *ngFor="let environment of environments" [value]="environment">
              {{environment}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <textarea name="city" id="city" type="text" class="validate" [(ngModel)]="estate.city"></textarea>
        <label class="active" for="city">Ville</label>
      </div>
      <div class="input-field col s3">
        <textarea name="address" id="address" type="text" class="validate" [(ngModel)]="estate.address"></textarea>
        <label class="active" for="address">Address</label>
      </div>
      <div class="input-field col s3">
        <input name="postal_code" id="postal_code" type="text" class="validate" [(ngModel)]="estate.postal_code">
        <label class="active" for="postal_code">Code postal</label>
      </div>
      <div class="input-field col s3">
        <input name="country" id="country" type="text" class="validate" [(ngModel)]="estate.country">
        <label class="active" for="country">Pays</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <button class="btn waves-effect waves-light" (click)="cancel()">Annuler
          <i class="material-icons right">cancel</i>
        </button>
      </div>
      <div class="input-field col s6">
        <button class="btn waves-effect waves-light" (click)="save()">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>

    </div>
  </form>

</div>
<div class="row" *ngIf="isPosted">
    <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
        <input formControlName="document" type="file" ng2FileSelect accept=".png" [uploader]="uploader" multiple/><br/>
        <br>
        <div class="drop-zone">
        <div ng2FileDrop [uploader]="uploader" class="drop-zone">

        </div>
        </div>
        <table>
            <thead>
            <tr>
              <th width="90%">
                File Name
              </th>
              <th width="10%">
                Remove
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <th width="90%">
                <strong>{{ item?.file?.name }}</strong>
              </th>
              <th class="text-center" width="10%">
                <mat-icon (click)="item.remove()">delete</mat-icon>
              </th>
            </tr>
            </tbody>
          </table>
          <br>
        <button mat-raised-button color="accent"  type="submit">Upload Images</button>
    </form>

    <div class="input-field col s6">
        <button class="btn waves-effect waves-light" (click)="validate()">Valider
          <i class="material-icons right">send</i>
        </button>
    </div>

</div>
