
    

        <section class="payment">
            <div id="add-estate">
                <h3>Effectuez votre paiement</h3>
                <div class="add-estate-form">
                    <form class="col s12">
                        <input type="number" [(ngModel)]="finalAmount" name="finalAmoun" style="padding-bottom: 10px;">
                        <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
                        <div id="paypal-checkout-btn"></div>
                    </form>
                </div>
            </div>
        
        </section>
