<section id="signupSection">
    <div class="container">
​
        <div class="container-title">
            <h2>S&rsquo;inscrire</h2>
            <a href="">ou se connecter</a>
        </div>
        <form action="" id="signupForm">
            <label for="email"><b>Email</b></label>
            <input type="text" id="email" placeholder="ex : saitama@heroassociation.gov" name="email" required>
            <label for="firstname"><b>Prénom</b></label>
            <input type="text" id="firstname" placeholder="Kyle" name="firstname" required>
            <label for="lastname"><b>Nom</b></label>
            <input type="text" id="lastname" placeholder="Glass" name="lastname" required>
​
            <label for="psw"><b>Mot de passe</b></label>
            <input type="password" placeholder="Enter Password" id="psw" name="psw" required>
​
            <label for="birthdate"><b>Date de naissance</b></label>
            <input type="date" placeholder="Entrer votre date de naissance" id="birthdate" name="birthdate" required>
​
            <button type="submit">Inscription</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="width: 20px;">
            </label>
        </form>
    </div>
​
</section>
