<link rel="stylesheet" href="../../../assets/css/text-section-white.css">

<section id="signupSection">
    <div class="container">
      <div id="FormErrors">
          <ng-container *ngIf="this.errors !== undefined" >
              <p *ngFor="let message of this.errors">{{message}}</p>
            </ng-container>
      </div>

        <div class="container-title" *ngIf="!isSaved">
            <h2>S&rsquo;inscrire</h2>
            <a href="">ou se connecter</a>
        </div>
        <form id="signupForm" *ngIf="!isSaved">
            <label for="username"><b>Identifiant</b></label>
            <input type="text" id="username" placeholder="ex : toto28" name="username"  [(ngModel)]="newUser.username" required>
            <label for="first"><b>Mot de passe</b></label>
            <input type="password" placeholder="Enter Password" id="first" name="first" [(ngModel)]="newUser.password.first" required>
            <label for="second"><b>Resaisir le mot de passe</b></label>
            <input type="password" placeholder="Enter Password" id="second" name="second" [(ngModel)]="newUser.password.second" required>
            <label for="email"><b>Email</b></label>
            <input type="text" id="email" placeholder="ex : saitama@heroassociation.gov" name="email" [(ngModel)]="newUser.email" required>

            <button type="submit" (click)="signUp()">Inscription</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="width: 20px;">
            </label>
        </form>
        <div class="container-title" *ngIf="isSaved">
                <h2 style="text-align: center; margin-top: 50px;">Merci pour votre inscrption, vous allez recevoir un email de comfirmation.</h2>
                <div class="text-section">
                  <div class="text-section-content">
                    <a [routerLink]="['/']">Accueil</a>
                  </div>

                </div>
        </div>
    </div>

</section>
