/** CATEGORIES **/

#admin-content #admin-categories {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#admin-content #admin-categories .categoriesList {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;


}

#admin-content #admin-categories .categoriesList .admin-category {

  background-color: #007772;
  width: 200px;
  height:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-right:10px;
}


#admin-content #admin-categories .categoriesList .admin-category .categoryImg {
display: block;
  width:100%;
  height:140px;
  position: relative;
  overflow: hidden;

}
#admin-content #admin-categories .categoriesList .admin-category .categoryImg img {
position: absolute;
  display: block;
  width: 200px;

}

#admin-content #admin-categories .categoriesList .admin-category .categoryTitle{
  margin:0;
  padding:10px;
  box-sizing: border-box;
font-family: 'Roboto',sans-serif;
  font-weight: bold;
  width:100%;
  text-align: center;
color:#fff;
}




@media only screen and (max-width: 1023px) {

  #admin-content #admin-categories .categoriesList .admin-category  {
     margin:10px 0;

  }


}

/**  FIN CATEGORIES **/
