section{
  background-color:#fff;
  width:100%;
  min-height: 90vh;
  height:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto',sans-serif;
  position:relative;
}

.ctaRetour{
  position:absolute;
  font-family: 'Robboto',sans-serif;
  color:orangered;
  font-size: 15px;
  top:20px;
  left:20px;
  font-weight: 800;
  cursor:pointer;
}
.ctaRetour:hover{
  text-decoration:underline;
}
section h4{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color:#007772;
  color:#fff;
  font-size: 25px;
  padding:10px;
  width:80%;
  max-width: 900px;
  text-align:center;
}

#clearEstateReason{
  width:80%;
  max-width: 900px;
  background-color:#fff;
  height:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding:20px 0;
  border:1px solid #007772;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#clearEstateReason .annonceThumbnail {
  display: block;
  height: 200px;
  width: 200px;
  max-width:200px;
  background-color: #007772;
  position: relative;
  overflow: hidden;

}

#clearEstateReason .annonceThumbnail img {
  display: block;
  height: 200px;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#clearEstateReason .estatetoclear{
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height:auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom:1px solid #007772;
  padding:20px;
}
#clearEstateReason .reasonsforclear{
  background-color:#00777131;
  width:100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding:20px;
}
#clearEstateReason .reasonsforclear label{
  margin-bottom:20px;
}
#clearEstateReason .reasonsforclear input[type="text"]{
  height:150px;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding:10px;

}
#clearEstateReason input[type="submit"]{
  display: block;
  width:50%;
  max-width:300px;
  background-color:#007772;
  color:#fff;
  border:none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height:40px;
  margin-top: 20px;
  cursor: pointer;
}

.container #FormErrors{
  background-color: rgba(203, 71, 64, 0.557);
  color:#fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width:80%;
  line-height: 22px;
  margin:20px;
}
@media only screen and (max-width: 1024px) {
  section h4{
    width:100%;
  }
  #clearEstateReason{
    width:100%;
  }
  #clearEstateReason .estatetoclear{
    width:100%;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column
  }
  #clearEstateReason .estatetoclear p{
    margin-top: 20px;
  }
}
