<div class='container'>
  <h1>S'inscrire</h1>
  <a [routerLink]="['/login']">Ou se conneter</a>
  <form>
    <div>
      <label for="username">userName</label>
      <input type="text" name="username" id="username" [(ngModel)]="newUser.username">
    </div>
    <div>
      <label for="first">Mot de passe </label>
      <input type="password" name="first" id="first" [(ngModel)]="newUser.password.first">
    </div>
    <div>
      <label for="">Repeter Mot de passe </label>
      <input type="password" name="second" id="second" [(ngModel)]="newUser.password.second">
    </div>
    <div>
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" [(ngModel)]="newUser.email">
    </div>

    <div>
      <button id="btn" type="submit" (click)="saveUser()">Inscription</button>
    </div>
    <div>
      <input type="checkbox" name="promo" id="promo">
      <label for="promo">Je ne souhaite pas recevoir de de messages de promotion</label>
    </div>
  </form>
</div>
