<link rel="stylesheet" href="../../../assets/css/text-section-white.css">
<section class="text-section">
<div class="text-section-content">
   <!--<img src="../../../assets/images/LOGO.svg" alt="">-->
    <h3>Qui sommes nous</h3>
    <p>Chez <em>AtypikHouse</em>, nous sommes trois amoureux de la nature et de voyage. Amis de longue date, nous avons décidé de fonder notre société cette année afin de partager cette <strong>envie d’aventure</strong> et de vie en <strong>harmonie avec la nature</strong> au travers <strong>l’habitat atypique</strong>.<br><em>En vous mettant en relation entre vous, nous espérons sincèrement vous transmettre notre passion et vous permettre de vivre des expériences plus originales les unes que les autres.</em></p>
    <a [routerLink]="['/search']">Je découvre</a>
</div>

</section>
