h3{font-family: 'Pacifico',serif;font-size: 35px;position: relative;margin:50px 20px 20px  20px;text-align: center;}h3:after{content: "";position: absolute;width:150px;height:2px;background-color:#E8A720;left:53%;bottom:-5px;margin-left: -75px;}
#month-slider {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
#slide-container {
  height: 400px;
  width: 100%;
  background-color: #007270;
  position: relative;
  overflow: hidden;
  z-index: 0;
  max-width: 1024px;
}
#slide-controller {
  height: 35px;
  width: 50%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-content: center;
  cursor: pointer
}
#slide-controller .bullet-slider {
  height: 20px;
  width: 20px;
  background-color: #007270;
  border-radius: 15px;
}
#slide-controller .bullet-slider-active {
  background-color: #E8A720 !important;
}
#slide-container .month-slide {
  background-color: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: 700;
  cursor: pointer;
}
#slide-container .month-slide:nth-child(1) {
  background-color: cyan;
  left: 100%;
  z-index: 0;
  transition: left ease 1s;
}
#slide-container .month-slide:nth-child(2) {
  background-color: lawngreen;
  z-index: 0;
  left: 100%;
  transition: left ease 1s;
}
#slide-container .month-slide:nth-child(3) {
  background-color: orange;
  z-index: 0;
  left: 100%;
  transition: left ease 1s;
}
#slide-container .active-slide {
  z-index: 500 !important;
  left: 0 !important;
  transition: left ease 1s;
}
.month-slide-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.month-slide-content img {
  display: block;
  width: 100%;
  height: auto !important;
}
.month-slide-label {
  background-color: #007270;
  position: absolute;
  height: 75px;
  width: 300px;
  top: 0;
  right: 0;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
#slide-container h4 {
  color: #fff;
  font-size: 35px;
  margin: 0;
  padding: 0;
  height: 100px !important;
  line-height: 75px;
  font-family: 'Pacifico', sans-serif;
}
@media only screen and (max-width: 769px) {
  #slide-container {
      height: 300px;
  }
  .month-slide-label {
      width: 40%;
      height: 50px;
  }
  #slide-container h4 {
      color: #fff;
      font-size: 30px;
      line-height: 40px;
  }
}
